body {
	background: black;
	font-family: "Permanent Marker", cursive;
	font-size: 90%;
}
/* * {
	border: 1px dashed red;
	min-height: 10px;
}*/
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
	padding: 10px;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 500px;
	margin: 0%;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0%;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	border: none;
	border-bottom: 1px grey solid;
	color: rgba(128, 128, 128, 0.529);
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: darkgrey;
	padding: 5px 10px;
	border: none;
}
button:hover {
	background-color: rgba(169, 169, 169, 0.568);
}
